*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	display: flex;
}

canvas
{
	position: absolute;
	background: black;
	top: 0;
	left: 0;

	/*This sets the canvas as the background */
	position:absolute;
	left:0;
	top:0;
	z-index:-1;
}


#canvas2{

	
	border:solid  white 1px;
	

}

